---
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/global.css'

const pageTitle = 'About me'
---

<BaseLayout pageTitle={pageTitle}>
  <p>TODO: maybe add more about me, come back soon!</p>
  <script>
    import '../scripts/menu.js'
  </script>
</BaseLayout>
