---
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/global.css'

const pageTitle = 'Now'
---

<BaseLayout pageTitle={pageTitle}>
  <p>TODO: add now page, come back soon!</p>
  <script>
    import '../scripts/menu.js'
  </script>
</BaseLayout>
