---
import { Image } from 'astro:assets'
import brainMadeMarkBlackLogo from '../assets/brain-made-black-logo.svg'
---

<a href='https://brainmade.org' target='_blank'>
  <Image
    src={brainMadeMarkBlackLogo}
    alt='Brain Made mark. Clicking on the image opens the website with more information in a new tab.'
    width='160'
    class='p-2 border-pink-200 border shadow-sm'
  />
</a>
