---
import { Image } from 'astro:assets'
import humanMadeMarkBlackLogo from '../assets/human-made-black-logo.svg'
---

<a href='https://humanmademark.com' target='_blank'>
  <Image
    src={humanMadeMarkBlackLogo}
    alt='Human Made mark. Clicking on the image opens the website with more information in a new tab.'
    width='150'
  />
</a>
