---
---

<div class='nav-links'>
  <a href='/'>home</a>
  <!-- <a href="/about/">about</a> -->
  <!-- <a href="/now/">now</a> -->
  <!-- <a href="/blog/">blog</a> -->
  <!-- <a href="/tags/">tags</a> -->
  <a href="/cv/">cv</a>
</div>
