---

---

<!-- there are a couple of classes that I don't like, leaving them here for reference -->
<!-- prose-headings:underline -->
 
<!-- this one makes the text hard to read, need to adjust multiple things, fix if you add dark mode in the future -->
<!-- dark:prose-invert -->
<div
  class='prose
  prose-h1:font-bold
  prose-a:text-blue-600
  prose-p:text-justify
  prose-img:rounded-xl
  prose-li:list-inside'>
  <slot />
</div>
